.App {
  text-align: center;
}

.App-header {
  // background-color: #222;
  padding: 20px;
  // color: white;
}

.App-intro {
  font-size: large;
}

.App-nav {
  .nav-link {
    color: #606266;
    padding: 6px 16px;
    text-decoration: none;
  }
  .nav-link_active {
    color: #303133;
    text-decoration: underline;
  }
}
